#header-img{
    width: 100px;
}

header{
    position: relative;
}

#nav-bar{
    margin: 0;
    padding: 0px;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    flex-grow: 1;
    height: inherit;
    line-height: inherit;
    justify-content: flex-end;
    display: flex
}

#nav-bar a{
    padding: 10px;
}